.classcentral-style-custom .articleContent {
  p {
    margin-bottom: 30px;
  }

  img {
    width: 100%;
    height: auto;
  }
}

@media only screen and (min-width: 641px) {
  .classcentral-style-custom .articleContent {
    img {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
}
