.sidebar .mailChimp {
  h4,
  h4 + p {
    display: none;
  }

  input[type="email"] {
    margin-top: 15px;
    padding: 10px 20px;
    border: 1px solid #e3e3e3;
    background-color: #fff;
    width: 100%;
    box-sizing: border-box;
  }

  input[type="submit"] {
    margin-top: 15px;
    padding: 0 20px;
    border-radius: 5px;
    background-color: #0d44f6;
    color: #fff;
    height: 40px;
    line-height: 37px;
    font-family: $font-family-heading;
  }
}

.sidebar .mailChimp-layout2 {
  input[type="email"] {
    width: calc(100% - 90px);
    float: left;
  }

  input[type="submit"] {
    float: right;
    width: 80px;
  }
}

@media only screen and (min-width: 769px) {
  .sidebar .mailChimp {
    input[type="submit"] {
      float: right;
    }
  }
}
