.classcentral-style-custom {
  .size--xxsmall {
    width: 35px;
    height: 35px;
  }

  .size--xsmall {
    width: 40px;
    height: 40px;
  }

  .size--small {
    width: 45px;
    height: 45px;
  }

  .size--medium {
    width: 50px;
    height: 50px;
  }

  .size--large {
    width: 60px;
    height: 60px;
  }

  .size--xlarge {
    width: 85px;
    height: 85px;
  }

  .size--xxlarge {
    width: 125px;
    height: 125px;
  }
}

@media only screen and (min-width: 641px) {
  .classcentral-style-custom {
    .medium-up-size--small {
      width: 45px;
      height: 45px;
    }
  }
}

@media only screen and (min-width: 769px) {
  .classcentral-style-custom {
    .large-up-size--xxlarge {
      width: 125px;
      height: 125px;
    }
  }
}
