.classcentral-style .size--xsmall {
  width: 40px;
  height: 40px;
}

.classcentral-style .size--small {
  width: 45px;
  height: 45px;
}

.classcentral-style .size--large {
  width: 60px;
  height: 60px;
}

@media only screen and (min-width: 641px) {
  .classcentral-style .medium-up-size--small {
    width: 45px;
    height: 45px;
  }
}
