.quote {
  position: relative;
  padding-left: 20px;
  font-size: 21px;

  p:last-child {
    margin-bottom: 0;
  }
}

.quote_deco {
  position: absolute;
  pointer-events: none;
}

.quote-pull {
  .quote_deco {
    border-left: 6px solid #5074e9;
    left: 0;
    top: 0;
    height: 100%;
  }
}

.quote-quote {
  padding-left: 60px;

  .quote_deco {
    font-size: 100px;
    left: 0;
    top: 0;
    color: #5074e9;
    line-height: 0.5;
  }

  .quote_deco-close {
    left: auto;
    top: auto;
    right: 0;
    bottom: 0;
    line-height: 0;
  }
}
